html,
body {
	height: 100%;
	text-align: center;

	background-color: #333;     
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.row{
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
}

h4{
	color:white;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.col-xs-6{
	/*border: 1px inset white;
	background-color: blue;*/
	padding: 0px;
	margin: 0px;
	
}

.col-xs-12{
	/*border: 1px inset black;*/
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
}

.box {
	background-color:#ffffff;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #e1e1e1;
    /*box-shadow: 1px 1px 5px #cfcfcf;*/
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    color: #767676;
    margin: 4px;
    font-size: smaller
}

.sensorvalue{
	font-size: xx-large;
	font-weight: 500;
	text-align: center;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 5px;
}