.ui-field-contain div.ui-slider-switch { width: 10em }
.ui-block-c div.ui-slider-switch { width: 90%; position: relative; top:11px; left:5%}

.ui-grid-c .ui-block-b div.myIcon { position: relative; top:13px}

.myCheck { position: relative; top:8px }

.ui-block-b .sensorInput { width: 99% }
.ui-block-c .sensorInput { width: 99% }
.ui-block-b .timeInput { width: 97% }
.ui-block-c .timeInput { width: 97% }

.ui-grid-c .ui-block-a { width: 40% }
.ui-grid-c .ui-block-b { max-width: 10% }
.ui-grid-c .ui-block-c { width: 25% }
.ui-grid-c .ui-block-d { width: 25% }	

/*
.ui-grid-d .ui-block-a { width: 25% }
.ui-grid-d .ui-block-b { width: 29% }
.ui-grid-d .ui-block-c { width: 29% }
.ui-grid-d .ui-block-d { width: 11% }
.ui-grid-d .ui-block-e { width: 6% }
*/
.thumb {width: 80px; height: 80px;}


.ui-controlgroup-horizontal .ui-controlgroup-controls { display: block !important; }		
.ui-dialog .ui-header .ui-btn-icon-notext { display:none;}

@media all and (max-width:500px){
	.ui-li-thumb { display:none }
	.ui-grid-d .ui-block-b .ui-li-heading {position:absolute; left: 10px}
	.ui-grid-d .ui-block-b .ui-li-desc {position:absolute; left: 10px; top: 48px}
	
	.ui-li-heading {font-size : .8em}
	.ui-li-desc {font-size : .6em}
	
	.ui-grid-c .ui-li-heading {font-size : .7em}
				
	.ui-btn-text {font-size: 0.65em}
	.myIcon {top:16px}
	.myIconImg {width:24px; height:24px}
	
	input.ui-input-text {font-size: .7em}
	label.ui-input-text {font-size: .7em}
	.ui-controlgroup-label {font-size: .7em}
	label {font-size: .7em}
}

@media all and (min-width:501px){
	.ui-li-thumb { display:block }
	.ui-grid-d .ui-block-b .ui-li-heading {position:relative; left: 0px}
	.ui-grid-d .ui-block-b .ui-li-desc {position:relative; left: 0px; top: 0px}
	
	.ui-li-heading {font-size : .9em}
	.ui-li-desc {font-size : .75em}
	
	.ui-grid-c .ui-li-heading {font-size : .8em}
	
	.ui-btn-text {font-size : 1em}
	.myIcon {top:13px}
	.myIconImg {width:30px; height:30px}
}
