.myThumb {
	margin: 5px;
	height: 90px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.myBlock {
	height: 147px;
	width: 100%;
	border-radius: 6px 6px 6px 6px;
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.indicator-time{
	height: 16px;
	width: 35%;
	background-color: rgba(0,0,0,0.4);
	
	text-align: center;
	color: #ffffff;
	font-size:.8em;
	
	position: absolute;
	top: 0px;
	left: 0%;
	border-radius: 6px 0px 6px 0px;
	
	text-shadow: 1px 1px 4px black;
	line-height: 16px;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;     /* fallback */
	max-height: 16px;      /* fallback */
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.indicator-on{
	height: 10px;
	width: 15%;
	background-color: rgba(0,255,0,1);
	position: absolute;
	top: 0px;
	left: 85%;
	border-radius: 0px 6px 0px 6px;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,255,0,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,255,0,1);
	box-shadow: 0px 0px 4px 1px rgba(0,255,0,1);
}

.indicator-off{
	height: 10px;
	width: 15%;
	background-color: rgba(255,0,0,1);
	position: absolute;
	top: 0px;
	left: 85%;
	border-radius: 0px 6px 0px 6px;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(255,0,0,1);
	box-shadow: 0px 0px 4px 1px rgba(255,0,0,1);
}

.overlay_top{
	z-index: 10;
	width: 100%;
	height: 102px;		
	position: relative;
	top: 0px;
	padding: 0px;
	margin: 0px;
	border-radius: 6px 6px 0px 0px;
	background-size: cover;
	background-position: center center;
}

.overlay_bottom{
	z-index: 10;
	width: 100%;
	height: 45px;		
	position: relative;
	top: 0px;
	padding: 0px;
	margin: 0px;
	border-radius: 0px 0px 6px 6px;
}

.title{
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	color: #ffffff;
	font-size:.8em;
	height:26px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-shadow: 1px 1px 4px black;
	line-height: 26px;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 26px;     /* fallback */
	max-height: 26px;      /* fallback */
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.buttonspace-left{
	width:50%;
	height:100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.buttonspace-right{
	width:50%;
	height:100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
	
.button-l{
	height:100%;
	width:100%;	
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	border-radius: 0px 0px 0px 6px;
	color: #ffffff;
	font-size: larger;
	font-weight: 600;
	text-shadow: 0px 0px 3px black;
	
	background-color: #fff294;	
	
	-webkit-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0px 0px 350px 0px rgba(0,0,0,.5);
	box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,.5);
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor: pointer;
}

.button-l:hover, .button-l:focus {
	background-color: #ffec5a;
}

.button-r{
	height:100%;
	width:100%;	
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	border-radius: 0px 0px 6px 0px;
	color: #ffffff;
	font-size: larger;
	font-weight: 600;
	text-shadow: 0px 0px 3px black;
	
	background-color: rgba(0,0,0,.35);
	
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	
	cursor: pointer;
}

.button-r:hover, .button-r:focus {
	-webkit-box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,1);
}

.ui-header{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	height:40px;
	z-index: 1000;
	border:0px solid rgba(0,0,0,0.0);
}

.ui-content{
/*
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
*/
	margin: -4px;
}

.ui-footer{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
	margin: 0px;
	padding: 0px;
	border:0px solid rgba(0,0,0,0.0);
}

.my-breakpoint .ui-block-a, 
.my-breakpoint .ui-block-b, 
.my-breakpoint .ui-block-c,
.my-breakpoint .ui-block-d,
.my-breakpoint .ui-block-e {
		clear: none;
}
	
@media all and (max-width: 50em) {
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 33%; 
		float:left; 
	}
}

@media all and (max-width: 35em) {
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 50%; 
		float:left; 
	}
	.myBtn{
		font-size: 0;
	}
}