.sprite { background: url('../img/sprite1.png') no-repeat top left; width: 80px; height: 80px; cursor: pointer; } 
.sprite.Computer { background-position: 0px 0px;  } 
.sprite.deckenlampe { background-position: -90px 0px;  } 
.sprite.deckenstrahler2 { background-position: -180px 0px;  } 
.sprite.deckenstrahler { background-position: -270px 0px;  } 
.sprite.drucker { background-position: -360px 0px;  } 
.sprite.elro_outdoor { background-position: -450px 0px;  } 
.sprite.ikea_lampe { background-position: -540px 0px;  } 
.sprite.kueche { background-position: -630px 0px;  } 
.sprite.kugellampe { background-position: -720px 0px;  } 
.sprite.lautsprecher { background-position: -810px 0px;  } 
.sprite.led_spot { background-position: -900px 0px;  } 
.sprite.led_stripe_analog { background-position: -990px 0px;  } 
.sprite.led_stripe_digital { background-position: -1080px 0px;  } 
.sprite.lichterkette { background-position: -1170px 0px;  } 
.sprite.pflanzenbeleuchtung { background-position: -1260px 0px;  } 
.sprite.philips_tv { background-position: -1350px 0px;  } 
.sprite.steckdose { background-position: -1440px 0px;  } 
.sprite.tv-board { background-position: -1530px 0px;  } 
.sprite.stehlampe { background-position: -1620px 0px;  } 
.sprite.weihnachtsdeko_treppe { background-position: -1710px 0px;  } 
.sprite.wasserspiel { background-position: -1800px 0px;  } 
.sprite.Yamaha { background-position: -1890px 0px;  } 